# Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter build outputs
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android build outputs
android/app/build/
android/build/

# iOS/macOS build outputs
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
macos/Flutter/ephemeral/
macos/build/

# Web build outputs
web/generated_plugin_registrant.dart

# APK, AAB, IPA binaries
*.apk
*.aab
*.ipa

# VS Code and IntelliJ
.vscode/
.idea/
*.iml

# Other
.DS_Store
*.log
*.swp
*.lock
*.tmp
